.item-counter{
    display: flex !important;
    align-items: center;
    text-align: center;
  }
  
  .item-counter__less{
    border-radius: 100% !important;
    font-size: 1rem;
    padding: 0.5rem;
  }
  
  .item-counter__count{
    width: 1rem;
  }
  
  .item-counter__plus{
    border-radius: 100% !important;
    font-size: 1rem;
    padding: 0.5rem;
  }
  
  .item-counter__message{
    color: red;
  }